body{
    margin: 0 auto;
    background-color: black;
}

header{
    background-color: #b8b8b8;
    color: black;
    height: 90px;
    padding: 20px;
}

.logo h1{
    font-family: lobster;
    text-align: center;
    letter-spacing: 0.5em;
    font-weight: lighter;
}

nav ul li{
    display: inline;
    background-color: #b8b8b8;
    margin: 40px 40px 0px 40px;
    padding: 5px;
    width: 100%;    
}

nav ul a{
    font-family: amatic sc;
    color: black;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-size: 16px;
    border-right: 1px solid black;
    border-left: 1px double black;
}

nav ul a li:hover {
    border: 1px solid gray;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5px;
}

.image img {
    width: 100%;
    height: 300px;
    opacity: 60%;
    border-radius: 100%;
    margin-top: 5px;
}

.image h2{
    color: white;
    text-align: center;
    font-family: dancing script;
    font-weight: lighter;
    letter-spacing: 0.5em;
}

.opening {
    color: white;
    font-family: amatic sc;
    font-size: 18px;
    background-color: black;
    text-align: justify;
    padding: 0 10px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    letter-spacing: 0.1em;
}
.list {
    color: white;
    font-family: amatic sc;
    font-size: 18px;
    padding: 5px 10px 0 30px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
    letter-spacing: 0.1em;
}

.list p {
    border: 1px dotted gray;
    border-radius: 10%;
    padding: 10px;
    margin-top: 50px;
}

.card {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (3, 1fr);
    margin-top: 20px;
    grid-gap: 1px;
    justify-items: center;
    justify-content: center;
}

.card h2 {
    font-family: amatic sc;
    text-align: center;
    font-weight: lighter;
}

.card p {
    color: white;
    font-family: simonetta;
}

.card img {
    border-radius: 25px;
    margin-top: 10px;
    align-content: center;
    width: 100%;
    height: 50%;
}

.card h2{
    color: white;
}

.card a {
    text-decoration: none;
}

/* .bukit img {
    width: 100%;
} */

footer{
    color: white;
    text-align: center;
    font-size: 12px;